* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 0 2rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: 100vh;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
}

.progressive-form-container {
  flex: 1 0 50%;
  background-color: rgb(8, 72, 72);
}

.preview {
  flex: 1 0 50%;
}
