.form_element {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  font-size: 1rem;
}

input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
}

::placeholder {
  font-size: 1rem;
}
