.personal_details {
  text-align: center;
}

.name {
  font-size: 40px;
}

.contact_details {
  margin-top: 6px;
}

.contact_details > span {
  font-size: 16px;
  padding: 0px 6px;
}

.pipe {
  border-right: 1px solid #000;
}

a {
  color: #000;
}
