.preview {
  min-height: 100vh;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--secondary);
}

.section {
  font-size: 15px;
}

.section_title {
  font-size: 17px;
  border-bottom: 1px solid var(--accent);
}

.section_content {
  padding-top: 6px;
  display: grid;
  gap: 10px;
}

.bold_styling {
  font-weight: bold;
}

.italic_styling {
  font-style: italic;
}

/* For Education Preview */
.education_preview {
  display: flex;
  justify-content: space-between;
}

/* For Skills Preview */
.skills_preview {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

/* For Experience Preview */
.job_header {
  display: flex;
  justify-content: space-between;
}

/* For Projects Preview */
.project_header {
  display: flex;
}

/* For both Experience and Projects Preview  */
.description {
  margin-left: 1rem;
}
