@font-face {
  font-family: 'AGaramond';
  src: url('../assets/AGaramond-Regular.ttf');
}

@font-face {
  font-family: 'AGaramondItalic';
  src: url('../assets/AGaramond-Italic.ttf');
}

@font-face {
  font-family: 'AGaramondBold';
  src: url('../assets/AGaramond-Bold.ttf');
}

.preview {
  min-height: 100vh;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--secondary);
  font-family: 'AGaramond';
}

.section {
  font-size: 16px;
}

.section_title {
  border-bottom: 1px solid var(--accent);
}

.section_content {
  font-size: 17px;
  padding-top: 6px;
  display: grid;
  gap: 10px;
}

.bold_styling {
  font-family: 'AGaramondBold';
}

.italic_styling {
  font-family: 'AGaramondItalic';
}

/* For Education Preview */
.education_preview {
  display: flex;
  justify-content: space-between;
}

/* For Skills Preview */
.skills_preview {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

/* For Experience Preview */
.job_header {
  display: flex;
  justify-content: space-between;
}

/* For Projects Preview */
.project_header {
  display: flex;
}

/* For both Experience and Projects Preview  */
.description {
  margin-left: 1rem;
}
