.preview {
  flex: 1 0 50%;
  min-width: 500px;
  min-height: 100vh;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(237, 237, 237);
}

.section {
  font-size: 15px;
}

.section_title {
  font-size: 17px;
  border-bottom: 1px solid #000;
}

.section_content {
  padding-top: 6px;
}

/* For Education Preview */
.education_preview {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.skills_preview {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

/* For Experience Preview */
.experience_preview {
  display: grid;
  gap: 10px;
}

.job_header {
  display: flex;
  justify-content: space-between;
}

.role {
  font-weight: bold;
}

.company {
  font-style: italic;
}

.job_description {
  margin-left: 1rem;
}
