.stepper {
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.step {
  display: grid;
  place-items: center;
}

.step:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 16%;
  height: 2px;
  transform: translate(-50%, -50%);
  background-color: var(--secondary);
}

.step_item {
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  position: relative;
  background-color: var(--secondary);
  border-radius: 50%;
  z-index: 1;
}

.step_item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.step_item span {
  /* to prevent clicking on icons as they don't have the id and as a result the step won't change. */
  pointer-events: none;
}
